.header-main{
    padding: 10px 0px 0px 0px;
    color: #007bff;
    text-align: center;
}
.menu-bar{
    text-align: center;
    padding: 10px;
}
.translated-main{
    font-size: 20px;
    position: relative;
    text-align: center;
    border: double 5px #7FBDFF;
}

.moredetail{
    position: relative;
    display: inline;
    color: gray;
    border-radius: 5px;
    border: 3px grey;
    top:5px;
    bottom: 5px;
    left: 5%;
    font-size: 15px !important; 
    text-align: center;
}

.detail-word{
    font-weight: bold;
}